@import "style"
$dark: $base03
$text: $base02
$white-ter: $base3
$white: $base2
$grey-darker: $base02
$scheme-main-bis: $base2

// Fix hr
@import "helpers/color"
hr
  background-color: bulmaDarken($white-ter, 10%) !important
@import "bulma"