$base03: #002b36
$base02: #073642
$base01: #586e75
$base00: #657b83
$base0: #839496
$base1: #93a1a1
$base2: #eee8d5
$base3: #fdf6e3
$orange: #cb4b16
$yellow: #b58900
$green: #859900
$cyan: #2aa198
$blue: #268bd2
$purple: #6c71c4
$red: #dc322f

@font-face
  font-family: "BerkeleyMono"
  src: url("/fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2")

$family-monospace: 'BerkeleyMono', "Inconsolata", "Hack", "SF Mono", "Roboto Mono", "Source Code Pro", "Ubuntu Mono", monospace
$family-primary: $family-monospace
$weight-light: 50
$weight-normal: 100
$weight-medium: 200
$weight-semibold: 300
$weight-bold: 400

html
  font-variant-ligatures: common-ligatures discretionary-ligatures contextual historical-ligatures
