<%def name="html_navigation_links()">
    <nav id="menu">
    <ul>
    %for url, text in navigation_links[lang]:
        % if isinstance(url, tuple):
            <li> ${text}
            <ul>
            %for suburl, text in url:
                % if rel_link(permalink, suburl) == "#":
                    <li class="active"><a href="${permalink}">${text} <span class="sr-only">${messages("(active)", lang)}</span></a></li>
                %else:
                    <li><a href="${suburl}">${text}</a></li>
                %endif
            %endfor
            </ul>
        % else:
            % if rel_link(permalink, url) == "#":
                <li class="active"><a href="${permalink}">${text} <span class="sr-only">${messages("(active)", lang)}</span></a></li>
            %else:
                <li><a href="${url}">${text}</a></li>
            %endif
        % endif
    %endfor
    ${template_hooks['menu']()}
    ${template_hooks['menu_alt']()}
    </ul>
    </nav>
</%def>