## -*- coding: utf-8 -*-

<%inherit file="base.tmpl"/>
<%namespace name="components" file="components.tmpl" import="*"/>


<%block name="content">
<div id="layout">
<%block name="navbar"></%block>
${components.html_header()}
</div>
</%block>


