## -*- coding: utf-8 -*-

<%inherit file="content.tmpl"/>
<%inherit file="base.tmpl"/>
<%namespace name="components" file="components.tmpl" import="*"/>


<%block name="content">
<div id="layout">    
${components.navbar()}
<div id="main">
${components.html_header()}

<div class="content">
% for post in posts: 
    <article>
        <h1>${post.title()}${components.profile_icon(post.previewimage)}</h1> 
        <p><i>
            By ${post.author()} under 
            % for tag in post.tags:
                ${components.post_tag(tag)}
            % endfor
            on ${post.date.strftime('%d, %b %Y')}.
        </i></p>
        <p>
            ${post.text().splitlines()[0]}
        </p>
        <a href="${post.permalink()}">Click here to read more.</a>    
    </article>
    <br>
    
% endfor
</div>

</div>
${components.html_footer()}
</div>
</%block>