## -*- coding: utf-8 -*-

<%inherit file="content.tmpl"/>
<%inherit file="base.tmpl"/>
<%namespace name="components" file="components.tmpl" import="*"/>


<%block name="content">
<div id="layout">    
${components.navbar()}
<div id="main">
${components.html_header()}

<div class="content">
${post.text()}
</div>
</div>
${components.html_footer()}
</div>
</%block>